.main-container-app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.first-container-app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 54%;
}
.input-url-playlist{
  width: 94%;
  padding: 10px 20px;
  border-radius: 30px;
  border: 0px solid;
}
.main-title-app{
  font-size: 55px;
}


.download-button{
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
  width: fit-content;
  transition: 0.5s ease-in-out;
}
.download-button:hover{
  background-color: white;
  color: black;
  transform: scale(1.1);
}
.alert-inputs-empty{
  border: solid 1px rgb(201, 5, 5);
  padding: 10px 15px;
  border-radius: 30px;
  color: #fff;
  background-color: red;
  font: 16px sans-serif;
  font-weight: 600;
  display: none;
}
.second-container-app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.second-container-app-none{
  display: none;
}
.cli{
  background-color: #fff;
  border: solid 5px red;
  width: 54%;
}
.main-title-app span{
  color: #1ed760;
}
.blockAlert{
  display: block;
}
@media screen and (max-width:500px){
  .main-title-app{
    font-size: 32px;
  }
  .alert-inputs-empty{
    font: 16px sans-serif;
    font-weight: 600;
  }
}